*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/counters.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/server/build/classes/kotlin/main/com/example/server/HireSaveData$$serializer.class
/server/build/classes/kotlin/main/com/example/server/HireSaveData$Companion.class
/server/build/classes/kotlin/main/com/example/server/HireSaveData.class
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/server/build/kotlin/compileKotlin/cacheable/last-build.bin
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i.len
/server/build/classes/kotlin/main/com/example/server/MainKt$main$1$3$1.class
/server/build/classes/kotlin/main/com/example/server/MainKt$main$1$3$2.class
/server/build/classes/kotlin/main/com/example/server/MainKt$main$1$3$3.class
/server/build/classes/kotlin/main/com/example/server/MainKt.class
/server/build/tmp/jar/MANIFEST.MF
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/server/build/classes/kotlin/main/com/example/server/PlayerData$$serializer.class
/server/build/classes/kotlin/main/com/example/server/PlayerData$Companion.class
/server/build/classes/kotlin/main/com/example/server/PlayerData.class
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.s
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/server/build/classes/kotlin/main/META-INF/server.kotlin_module
/server/build/libs/server-1.0.0.jar
/server/build/kotlin/compileKotlin/classpath-snapshot/shrunk-classpath-snapshot.bin
/server/build/classes/kotlin/main/com/example/server/SkillSaveData$$serializer.class
/server/build/classes/kotlin/main/com/example/server/SkillSaveData$Companion.class
/server/build/classes/kotlin/main/com/example/server/SkillSaveData.class
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.len
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i
/server/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/server/build/classes/kotlin/main/com/example/server/UpgradeSaveData$$serializer.class
/server/build/classes/kotlin/main/com/example/server/UpgradeSaveData$Companion.class
/server/build/classes/kotlin/main/com/example/server/UpgradeSaveData.class
/server/build/classes/kotlin/main/com/example/server/VentureSaveData$$serializer.class
/server/build/classes/kotlin/main/com/example/server/VentureSaveData$Companion.class
/server/build/classes/kotlin/main/com/example/server/VentureSaveData.class
